<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>ManbaVideo</title>
</head>
<link rel="stylesheet" href="__ROOT__/static/css/nav.css" />
<link rel="stylesheet" href="__ROOT__/static/css/slidorion_style.css">
<link rel="stylesheet" href="__ROOT__/static/css/slidorion.css">

<!-- <link rel="stylesheet" href="css/section.css"> -->
<script src="__ROOT__/static/js/jquery.min.js"></script>
<script src="__ROOT__/static/js/jquery.easing.js"></script>
<script src="__ROOT__/static/js/jquery.slidorion.js"></script>
<body>
{include file="menu"}

</body>
</html>