<nav >
    <ul>
        <a href="index.html" class="site-name" ><span class="site-name-font">Manba<span style="color: black;">Video</span></span></a>
        <img id="logo" src="img/logo.jpg" alt="">
        <li> <a href="/movie" name="a1">首页</a></li>
        <li> <a href="{:url('dy/index')}" name="a1">电影</a></li>
        <li> <a href="myinf.html">关于站长</a></li>
    </ul>
    <a href="signUp.html" id="signup">SIGNUP</a>
    <a href="logIn.html" id="signin">LOGIN</a>
    <div class="sc">
        <input type="text" class="search" placeholder="Search for video">
<!--        <li class="searchIcon" ></li>-->
    </div>
</nav>